.centro{
    width: 55%;
    text-align: center;
    display: table;
    margin: 0px auto;
  }
  ion-item{
    --border-color: gray;
  }
  p{
    margin-left: 15px;
  }
  .cad{
    margin-left: 150px;
  }
  .logo{
    display: table;
    margin: 0px auto;
  }