.icone_home{
    font-size: 30px;
    color: rgb(255, 145, 0);
}

.home{
    font-size: 15px;
    color: black;
}

.icone_notificacao{
    font-size: 30px;
    color: rgb(255, 145, 0);
}

.notificacao{
    font-size: 15px;
    color: black;
}

.icone_historico{
    font-size: 30px;
    color: rgb(255, 145, 0);
}

.historico{
    font-size: 15px;
    color: black;
}

.menu{
    border-top: 2px, black;
}