<ion-tabs class="menu">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" class="icone_home"></ion-icon>
      <ion-label class="home">Home</ion-label>
    </ion-tab-button>

  <!--  <ion-tab-button tab="divulgar-obra">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Divulgar obra</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa-obras">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa das obras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificacoes">
      <ion-icon name="notifications" class="icone_notificacao"></ion-icon>
      <ion-label class="notificacao">Notificações</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="historico">
      <ion-icon name="clock" class="icone_historico"></ion-icon>
      <ion-label class="historico">Obras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="denuncias">
      <ion-icon name="megaphone" class="icone_historico"></ion-icon>
      <ion-label class="historico">Denúncias</ion-label>
    </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>