<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Denúncias Realizadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- {{obrasDivulgadas.length}}-->
        <ion-item *ngFor="let denuncia of denuncias;" (click)="verInfoDenucia(denuncia.idDenuncia)">
          <ion-label>
            {{denuncia.nomeObra}}
          </ion-label>
        <ion-label>
            {{denuncia.dataHoraDenuncia}}
          </ion-label>
        </ion-item>
      </ion-list>
      <h3 *ngIf="denuncias.length==0">Nenhuma Denúncia Realizada</h3>
</ion-content>
